<ul class="pagination p-3 m-2 d-flex justify-content-center">
  <div
    style="width: 15%"
    class="d-flex justify-content-around h5 font-weight-bold"
  >
    {% if page_obj.has_previous %}
    <li><a href="?page=1">&laquo;First</a></li>
    <li>
      <a href="?page={{ page_obj.previous_page_number}}">&laquo;Previous</a>
    </li>
    {% endif %} {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number}}">Next&raquo;</a></li>
    <li><a href="?page={{ page_obj.paginator.num_pages}}">Last&raquo;</a></li>
    {% endif %}
  </div>
</ul>
